{% if paginator.total_pages > 1 %}
  <nav class="paginate-container" aria-label="Pagination">
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
      {% else %}
        <span class="previous_page disabled">&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em class="current selected" aria-current="true">{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      {% else %}
        <span class="next_page disabled">Next &raquo;</span>
      {% endif %}
    </div>
  </nav>
{% endif %}
